@-moz-document domain("www.wanikani.com") {

/***** REVIEWS PAGE *****/

/* Remove review background pattern */
body #reviews #character.radical,
body #reviews #character.kanji,
body #reviews #character.vocabulary {
    background-image: none !important;
}

/* Use weaker colors for review background so it hurts eyes less*/
body #reviews #character.kanji {
    background: #E000A0 !important;
}

body #reviews #character.radical {
    background: #0090E0 !important;
}

/* Improve review options readability */
body #reviews #hotkeys {
    font-weight: bold !important;
    color: #777777 !important;
}

body #reviews nav li i {
    color: #707070 !important;
}

body #reviews nav li.inactive i {
    color: #C8C8C8 !important;
}

body #reviews nav li:not(#option-submit):hover i {
    color: #333 !important;
}

body #reviews nav li.inactive:not(#option-submit):hover i {
    color: #C8C8C8 !important;
}

/* Improve answer readability */
body #reviews #question-form input[type="text"] {
    font-weight: bold !important;
    font-size: 28px !important;
    height: 2.5em !important;
}

/* Makes right and wrong colors stronger again */
body #reviews #question-form fieldset.correct {
    background-color: #C0FF6B !important;
}

body #reviews #question-form fieldset.incorrect {
    background-color: #FFD0D4 !important;
    background-color: #FF5462 !important;
}

body #reviews #question-form fieldset.correct input[type="text"] {
    -webkit-text-fill-color: #689B27 !important;
    color: #689B27 !important;
}

body #reviews #question-form fieldset.incorrect input[type="text"] {
    -webkit-text-fill-color: #B30000 !important;
    color: #B30000 !important;
}

/* Makes the waiting color when submiting an answer be greyish */
body #reviews #loading {
    background-color: rgba(162, 156, 141, 0.5) !important;
}



/***** REST OF THE SITE *****/

/* Makes kanji legend in vocabulary and radicals page more visible */
body .standard table, .standard ul {
    color: white !important;
}

}